
/* GENERAL */

html *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color:white;
    background-color: black;
 }
 a{
     color:white;
 }

.centered-div {
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.header-container{
    
    border-bottom: 2px solid white;
    margin-left: 20%;
    margin-right: 20%;
}

.header-container td{
    text-align: center;
}

.header-container h1{
    font-size: 200%;
}

.nav-links-container{
    font-size: 22;
    text-decoration: none;
}

.nav-links-container a{
    padding-left: 10px;
    padding-right: 10px;
}

.nav-links-container a:link{
    text-decoration: none;
}

.nav-links-container a:hover{
    text-decoration: underline;
}

/* CONTENT */

.page-container{
    width: 100%;
}

.page-container h1{
    font-size: 48;
    text-align: center;
}

.page-container table{
    border-collapse: collapse;
}

.page-content{
    margin-right : 20%;
    margin-left: 20%;
}

.year-title{
    font-size: 42;
    color: yellow;
    text-align: left;
    border-bottom: 2px solid rgb(120, 120, 120);
}

.project-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    text-align: left;
    border-bottom: 2px solid rgb(50, 50, 50);
    padding-top: 2%;
    padding-bottom: 2%;
}

.section-container{
    display: block;
}

.project-content-text{
    /*height: calc(100% - 32px);*/
}

.project-img-container{
    margin-left: 5%;
}

.project-img-container img{
    height: auto;
    width: 100%;
    transition: 1s;
}

.project-button-container{
    height: 32px;
}

.project-button-container a{
    text-decoration: none;
}

/* PROJECT INDEX */

.index-container{
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

    height: 100%;
    width: 220px;

    position: absolute;
    top: 0;
    left: calc(20% - 240px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.index-container h2{
    text-align: center; 
    font-size: 32;
}

.index-content-container{
    max-width: 240px;
}

.index-year-container{
    width: 100%; 
    margin-bottom: 5%;
}

.index-year-container h3{
    text-align: center; border-bottom: 2px solid rgb(175, 175, 175); width: 100%
}

.index-project-list{
    padding-right: 5%;
    
}
.index-project-list a{
    padding-right: 5%;
    text-decoration: none;
}

.index-project-list a:hover{
    text-decoration: underline;
}


/* RESPONSIVE */

@media only screen and (max-width: 1600px) {
    .header-container{
        
    }

    .page-container{
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .header-container{
        width: 95%;
        margin: auto;
    }

    .page-container{
        width: 95%;
        margin: auto;
    }

    .page-content{
        width: 100%;
        margin: auto;
    }

    .project-container{
        display: block;
    }

    .project-img-container{
        margin-left: 0%;
        margin-top: 2.5%;
    }

    .index-container{
        display: none;
    }
}