
.centered-div {
    margin-left: auto;
    margin-right: auto;
}

.header-container{
    width: 60%;
    border-bottom: 2px solid white;
}

.header-container td{
    text-align: center;
}

.header-container h1{
    font-size: 64;
}

.section-title{
    font-size: 48;
}

.year-title{
    font-size: 32;
    color: yellow;
}

.project-container{
    text-align: left;
    border-top: 2px solid rgb(50, 50, 50);
    padding-top: 2%;
    padding-bottom: 2%;
}

.nav-links-container{
    font-size: 22;
    text-decoration: none;
}

.nav-links-container a{
    padding-left: 10px;
    padding-right: 10px;
}

.nav-links-container a:link{
    text-decoration: none;
}

.nav-links-container a:hover{
    text-decoration: underline;
}