
/* GENERAL */

.centered-div {
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

@media only screen and (max-width: 719px) {
    .header-container{
        width: 97.5%;
        border-bottom: 2px solid white;
    }
}

@media only screen and (min-width: 720px) 
{
    .header-container{
        width: 80%;
        border-bottom: 2px solid white;
    }
}

@media only screen and (min-width: 972px) 
{
    .header-container{
        width: 60%;
        border-bottom: 2px solid white;
    }
}

.header-container td{
    text-align: center;
}

.header-container h1{
    font-size: 200%;
}

.nav-links-container{
    font-size: 22;
    text-decoration: none;
}

.nav-links-container a{
    padding-left: 10px;
    padding-right: 10px;
}

.nav-links-container a:link{
    text-decoration: none;
}

.nav-links-container a:hover{
    text-decoration: underline;
}

/* CONTENT */

@media only screen and (max-width: 719px) {
    .page-content{
        width: 97.5%;
    }
}

@media only screen and (min-width: 720px) 
{
    .page-content{
        width: 80%;
    }
}

@media only screen and (min-width: 972px) 
{
    .page-content{
        width: 60%;
    }
}

.page-content h1{
    font-size: 48;
    text-align: center;
}

.page-content table{
    border-collapse: collapse;
}

.year-title{
    font-size: 42;
    color: yellow;
    text-align: left;
    border-bottom: 2px solid rgb(120, 120, 120);
}

.project-container{
    text-align: left;
    border-bottom: 2px solid rgb(50, 50, 50);
    padding-top: 2%;
    padding-bottom: 2%;
}

/* PROJECT INDEX */

.index-container{
    padding-top: 10%; padding-left:10%; padding-right: 10%; text-align: left;
}

.index-container h2{
    text-align: center; 
    font-size: 32;
}

.index-year-container{
    width: 100%; 
    margin-bottom: 5%;
}

.index-year-container h3{
    text-align: center; border-bottom: 2px solid rgb(175, 175, 175); width: 100%
}